anyio==3.6.2 ; python_full_version == "3.9.15"
async-timeout==4.0.2 ; python_full_version == "3.9.15"
bidict==0.22.1 ; python_full_version == "3.9.15"
certifi==2022.12.7 ; python_full_version == "3.9.15"
click==8.1.3 ; python_full_version == "3.9.15"
cloudpickle==2.2.1 ; python_full_version == "3.9.15"
colorama==0.4.6 ; sys_platform == "win32" and python_full_version == "3.9.15" or platform_system == "Windows" and python_full_version == "3.9.15"
commonmark==0.9.1 ; python_full_version == "3.9.15"
exceptiongroup==1.1.1 ; python_full_version == "3.9.15"
fastapi==0.88.0 ; python_full_version == "3.9.15"
greenlet==2.0.2 ; python_full_version == "3.9.15" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
gunicorn==20.1.0 ; python_full_version == "3.9.15"
h11==0.14.0 ; python_full_version == "3.9.15"
httpcore==0.16.3 ; python_full_version == "3.9.15"
httpx==0.23.3 ; python_full_version == "3.9.15"
idna==3.4 ; python_full_version == "3.9.15"
iniconfig==2.0.0 ; python_full_version == "3.9.15"
packaging==23.1 ; python_full_version == "3.9.15"
plotly==5.14.1 ; python_full_version == "3.9.15"
pluggy==1.0.0 ; python_full_version == "3.9.15"
psutil==5.9.4 ; python_full_version == "3.9.15"
pydantic==1.10.2 ; python_full_version == "3.9.15"
pygments==2.15.0 ; python_full_version == "3.9.15"
pynecone==0.1.24 ; python_full_version == "3.9.15"
pytest==7.3.1 ; python_full_version == "3.9.15"
python-engineio==4.4.0 ; python_full_version == "3.9.15"
python-multipart==0.0.5 ; python_full_version == "3.9.15"
python-socketio==5.8.0 ; python_full_version == "3.9.15"
redis==4.5.4 ; python_full_version == "3.9.15"
rfc3986[idna2008]==1.5.0 ; python_full_version == "3.9.15"
rich==12.6.0 ; python_full_version == "3.9.15"
setuptools==67.6.1 ; python_full_version == "3.9.15"
six==1.16.0 ; python_full_version == "3.9.15"
sniffio==1.3.0 ; python_full_version == "3.9.15"
sqlalchemy2-stubs==0.0.2a33 ; python_full_version == "3.9.15"
sqlalchemy==1.4.41 ; python_full_version == "3.9.15"
sqlmodel==0.0.8 ; python_full_version == "3.9.15"
starlette==0.22.0 ; python_full_version == "3.9.15"
tenacity==8.2.2 ; python_full_version == "3.9.15"
tomli==2.0.1 ; python_full_version == "3.9.15"
typer==0.4.2 ; python_full_version == "3.9.15"
typing-extensions==4.5.0 ; python_full_version == "3.9.15"
uvicorn==0.20.0 ; python_full_version == "3.9.15"
watchdog==2.3.1 ; python_full_version == "3.9.15"
websockets==10.4 ; python_full_version == "3.9.15"
